a {
  color: SeaGreen;
  text-decoration: none;
}


body {
  background-color : lightgrey;
  background-size: cover;
}

.header {
  background-position: center center;
  background-size: cover;
  height: 300px;
  width: 100%;
}

#header-text {
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 25%;
  width: 60%;
}

h1 {
  font-family: 'Covered By Your Grace', sans-serif;
  font-size: 100px;
  line-height: 76px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 20%;
}

h2 {

  font-family: 'Ruda', sans-serif;
  text-align: center;
  font-size: 28px;
  font-weight: 100;
}

.introduction {
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 30px;
  margin: 10px 0px;
  line-height: 1.5em;
}

.contact { 
  color : darkgreen;  font-size: 16px;
  font-weight: 300;
}

.myPhotos {
  border : 2px solid black;
  margin : auto;
  padding : 20px;
  width : 700px;

}
